root = true

[*]
indent_style = space
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{json,yaml,yml,html,css,scss}]
indent_size = 2

[*.{ts,js}]
indent_size = 2

[*.{cs,csx}]
indent_size = 4

[*.{sln,csproj}]
indent_size = 2

[Makefile]
indent_style = tab
